body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px 0;
  background: rgb(255, 254, 254);
  width: 335px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px black;
  position: relative;
  user-select: none;
  color: black;
}

.container-bg img {
  max-width: 170px;
  position: absolute;
  top: 5%;
  left: 55%;
  opacity: 15%;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
}

.header .underline {
  height: 3px;
  width: 30px;
  margin-top: 10px;
  background-color: black;
}

.header .header-text {
  font-size: 20px;
  font-weight: bold;
}

.inputs .input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 7px 25px;
}

.inputs input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 0;
  outline: 0;

  color: rgb(0, 0, 0);
  padding-left: 10px;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.passEye {
  opacity: 30%;
}

.passEye:hover {
  opacity: 80%;
}

.inputs input:focus {
  border-bottom: 1px solid black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.inputs img {
  width: 22px;
  max-height: 22px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(114, 114, 114);
  width: 80px;
  height: 25px;
  color: rgb(255, 255, 255);
  margin: 5px auto;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.1s;
  text-decoration: none;
}

.button:active {
  transform: scaleX(0.85);
}

.button:hover {
  background-color: rgb(133, 133, 190);
}

.submitContainer {
  margin: 15px auto;
}

.remember {
  margin: 10px 35px;
  display: flex;
  align-items: center;
  font-size: 12.5px;
}

.remember p {
  margin-left: 10px;
}

.account-checker .forgot,
.signup,
.login {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  font-size: 13px;
}

.account-checker p {
  margin-right: 5px;
}

.account-checker a {
  text-decoration: none;
  color: rgb(115, 173, 224);
}

.account-checker a:focus {
  color: red;
}

.account-checker a:hover {
  color: blueviolet;
}

span {
  color: rgb(34, 34, 221);
  cursor: pointer;
}

.date p {
  text-align: end;
  padding: 0 10px 0;

  font-size: 8px;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 95%;
  /* left: 50%; */
  text-align: center;
  color: rgb(233, 232, 230);
  font-size: 10px;
}

.footer p {
  padding: 0 5px;
}

.leftLine {
  background-color: rgb(194, 194, 193);
  height: 2px;
  width: 60px;
}

.rightLine {
  background-color: rgb(194, 194, 193);
  height: 2px;
  width: 60px;
}

.notfound {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound h1 {
  font-size: 40px;
}

.notfound p {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.notfound .erroricon {
  color: rgb(218, 38, 38);
  font-size: 120px;
}

.notfound .goback {
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(109, 109, 241);
  padding: 6px 10px;
  color: white;
  border-radius: 20px;
  transition: all 0.3s;
}

.goback:hover {
  background-color: rgb(46, 46, 230);
}

.goback:active {
  transform: scaleX(0.85);
}

/* Home Page Design */

.home-container {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: 90vh;
  overflow: hidden;
}

.home-container h1 {
  font-size: 35px;
  font-weight: 580;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.home-container .robot {
  margin-top: 70px;
  margin-bottom: 10px;
  max-width: 200px;
}

.home-container .version {
  background: rgb(98, 98, 236);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 60px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
}

.home-container .welcome-message {
  padding: 0 90px;
  font-size: 14.5px;
  font-weight: 600;
}

.home-container .get-started {
  background: rgb(98, 98, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.home-container .get-started:hover {
  background: rgb(42, 42, 233);
}

.home-container a {
  text-decoration: none;
  color: white;
}

/* Chat Interface */

.chat-interface {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}

.chat-interface .chat-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  user-select: none;
}

.chat-interface .chat-nav .ellipsis,
.backbutton {
  font-size: 20px;
  cursor: pointer;
}

.chat-interface .chat-nav .history {
  position: absolute;
  top: 20px;
  right: 30px;
  text-decoration: none;
  color: white;
  background-color: rgb(109, 108, 108);
  padding: 7px 15px;
  border-radius: 10px;
  border-top-right-radius: 0px;
}

.chat-interface .chat-nav .history:hover {
  background-color: rgb(133, 133, 190);
}

.chat-interface .main-chat {
  display: grid;
  gap: 5%;
}

.chat-interface .chatbody {
  display: grid;
  gap: 20%;
}

.chat-interface .user-chat {
  border-radius: 20px;
  border-bottom-right-radius: 1px;

  place-self: end;
  background-color: rgb(106, 165, 221);
  color: black;
  font-size: 16px;
  font-weight: bold;

  padding: 15px 10px;
  margin-left: 20%;
  margin-right: 15px;
}

.chat-interface .ai-chat {
  border-radius: 20px;
  border-bottom-left-radius: 1px;

  place-self: start;
  background-color: rgb(85, 86, 87);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  margin-right: 20%;
  margin-left: 15px;
  padding: 15px 10px;
}

.chat-interface .text-message {
  display: flex;
  justify-content: center;
  place-self: center;
  align-items: center;
  background-color: rgb(44, 43, 43);
  height: 55px;
  max-width: 450px;
  border-radius: 20px;
  margin-bottom: 60px;
}

.chat-interface .text-message input {
  width: 240px;
  margin: 0 10px;
  background: none;
  color: rgb(233, 228, 228);
  border: none;
  outline: none;
}

.text-message .text-comps {
  display: flex;
  align-items: center;
  padding: 30px;
}

.text-message .text-comps .message-icon {
  font-size: 20px;
}

/* New Chat Interface */

.default-message {
  user-select: none;
  text-align: center;
  font-weight: bold;
}

.default-message h1 {
  font-size: 40px;
}

.default-message h2 {
  color: rgb(88, 88, 221);
  margin-bottom: 20px;
}

.default-message p {
  font-size: 17px;
  padding: 0 70px;
}

.desktop {
  display: none;
}

/* CHAT HISTORY */

.history-container {
  height: 100vh;
  width: 90vw;
}

.history-container .heading {
  margin: 30px auto;
  /* position: fixed; */
}

.history-container .details-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.history-container .history-details .each-history {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(29, 29, 29);
  padding: 12px 10px;
  margin-bottom: 12px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  border: rgb(70, 69, 69) solid 1px;
  cursor: pointer;
}

.history-container .history-details .each-history:hover {
  transition: all 0.3s;
  transform: scale(0.99);
}

.history-details .message-icon {
  font-size: 30px;
  margin-right: 10px;
  color: rgb(175, 177, 179);
}

.history-details .arrow-icon {
  font-size: 25px;
  margin-left: 10px;
  color: rgb(175, 177, 179);
}

.history-container .history-footer {
  display: flex;
  justify-content: space-evenly;
  border-top: solid 1px rgb(70, 69, 69);

  padding-top: 1px;
  border-radius: 10px;
}

.history-container .history-footer .history-section,
.chat-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.history-footer .history-section {
  background-color: rgb(29, 29, 29);
  padding: 15px 50px;
  border-radius: 10px;
}
.history-footer .chat-section {
  padding: 15px 50px;
}

.history-footer .footer-icon {
  font-size: 25px;
  /* padding-bottom: 5px; */
  margin-bottom: 5px;
}

/* Desktop Version */
@media (max-width: 850px) {
  .desknav .stethoscope {
    display: none;
  }
}

@media (min-width: 670px) {
  .home-container {
    display: none;
  }

  .desktop {
    display: block;
    height: 100vh;
    width: 80vw;
  }

  .desknav .deskleft,
  .desknav .deskright {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
  }

  .desktop .desknav {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  .desknav .stethoscope {
    font-size: 50px;
  }

  .deskleft,
  .deskright {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desknav h1 {
    font-size: 25px;
  }

  .desknav a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
  }

  .desknav a:hover {
    border-bottom: 2px solid rgb(98, 98, 160);
    padding: 5px 7px;
    margin: 0 10px;
  }

  .desktop .underline {
    background-color: rgb(49, 49, 49);
    height: 1px;
    width: 100%;

    place-self: center;
    margin-top: 25px;
  }

  .desktop .screen-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 70vh;
  }

  .desktop .screen-content img {
    max-width: 400px;
    height: 650px;
  }

  .screen-content .others {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
  }

  .screen-content h1 {
    font-size: 45px;
    margin-bottom: 30px;
  }

  .screen-content p {
    font-size: 14px;
  }

  .screen-content .version {
    background: rgb(98, 98, 236);
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 60px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
  }

  .screen-content .welcome-message {
    padding: 0 7px;
    font-size: 18px;
    font-weight: 600;
  }

  .screen-content .get-started {
    background: rgb(98, 98, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 180px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 40px;
  }

  .screen-content .get-started:hover {
    background: rgb(42, 42, 233);
  }

  .screen-content a {
    text-decoration: none;
    color: white;
  }
}

@media (min-width: 800px) {
  .screen-content .others {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .home-container {
    display: none;
  }

  .desktop {
    display: block;
    height: 100vh;
    width: 80vw;
  }

  .desknav .deskleft,
  .desknav .deskright {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
  }

  .desktop .desknav {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  .desknav .stethoscope {
    font-size: 50px;
  }

  .deskleft,
  .deskright {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desknav h1 {
    font-size: 20px;
  }

  .desknav a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
  }

  .desknav a:hover {
    border-bottom: 2px solid rgb(98, 98, 160);
    padding: 5px 7px;
    margin: 0 10px;
  }

  .desktop .underline {
    background-color: rgb(49, 49, 49);
    height: 1px;
    width: 100%;
    /* place-content: center; */
    place-self: center;
    margin-top: 10px;
  }

  .desktop .screen-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 70vh;
  }

  .desktop .screen-content img {
    max-width: 470px;
    height: 720px;
  }

  .screen-content .others {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .screen-content h1 {
    font-size: 52px;
    margin-bottom: 30px;
  }

  .screen-content p {
    font-size: 16px;
  }

  .screen-content .version {
    background: rgb(98, 98, 236);
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 60px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
  }

  .screen-content .welcome-message {
    padding: 0 90px;
    font-size: 18px;
    font-weight: 600;
  }

  .screen-content .get-started {
    background: rgb(98, 98, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 180px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 40px;
  }

  .screen-content .get-started:hover {
    background: rgb(42, 42, 233);
  }

  .screen-content a {
    text-decoration: none;
    color: white;
  }
}
