/* Chat Interface */

.chat-interface {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-interface .chat-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  /* margin-top: 25px; */
  /* margin-bottom: 20px; */
  font-size: 14px;
  font-weight: 700;
  position: relative;
  user-select: none;
  background-color: black;
  /* height: 20px; */

  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1000; */
}

.chat-interface .chat-nav .ellipsis,
.backbutton {
  font-size: 20px;
  cursor: pointer;
}

.chat-interface .chat-nav .history {
  position: absolute;
  top: 30px;
  right: 30px;
  text-decoration: none;
  color: white;
  background-color: rgb(109, 108, 108);
  padding: 7px 15px;
  border-radius: 10px;
  border-top-right-radius: 0px;
}

.chat-interface .chat-nav .history:hover {
  background-color: rgb(133, 133, 190);
}

.chat-interface .chatbody .user-ai {
  display: grid;
  gap: 0.7%;

  padding-top: 65px;
  /* padding-bottom: 150px; */
  /* margin-bottom: 150px; */
  /* min-height: calc(80vh - 120px); */
}

.chat-interface .user-ai {
  height: 70%;
}

.chat-interface .user-chat {
  border-radius: 20px;
  border-bottom-right-radius: 1px;

  place-self: end;
  background-color: rgb(106, 165, 221);
  color: black;
  font-size: 16px;
  font-weight: bold;

  padding: 15px 10px;
  margin-left: 30px;
  margin-right: 15px;
}

.chat-interface .ai-chat {
  border-radius: 20px;
  border-bottom-left-radius: 1px;

  place-self: start;
  background-color: rgb(85, 86, 87);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 15px;
  padding: 15px 10px;
}

.chat-interface .text-message {
  /* display: flex;
  justify-content: center;
  place-self: center;
  align-items: center; */

  /* position: fixed;
  bottom: 0;
  left: 0;
  height: 55px;
  width: 100%;
  z-index: 1000; */
}

.chat-interface .text-message input {
  width: 240px;
  margin: 0 10px;
  background: none;
  color: rgb(233, 228, 228);
  border: none;
  outline: none;
}

.text-message .text-comps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  background-color: rgb(44, 43, 43);
  height: 55px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
  /* margin-top: 10px; */
}

.text-message .text-comps .message-icon {
  font-size: 20px;
}

/* New chat interface */

.default-message {
  text-align: center;
  font-weight: bold;
}

.default-message {
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.default-message h1 {
  font-size: 40px;
}

.default-message p {
  font-size: 17px;
  padding: 0 70px;
}

/* Chat History */

.history-container {
  height: 100vh;
  width: 90vw;
}

.history-container .heading {
  background-color: black;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
}

.history-container .details-section {
  height: 50vh;
  /* margin-top: 60px; */
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
}

.history-container .history-details .each-history {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(29, 29, 29);
  padding: 5px 10px;
  margin-bottom: 8px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  border: rgb(70, 69, 69) solid 1px;
  cursor: pointer;
}

.history-container .history-details .each-history:hover {
  transition: all 0.3s;
  transform: scale(0.99);
}

.history-details .message-icon {
  font-size: 30px;
  margin-right: 2px;
  color: rgb(157, 158, 158);
}

.history-details .arrow-icon {
  font-size: 25px;
  /* margin-left: 10px; */
  color: rgb(157, 158, 158);
}

.history-container .history-footer {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  border-top: solid 1px rgb(70, 69, 69);

  /* padding-top: 1px; */
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 55px;
  width: 100%;
  z-index: 1000;
}

.history-container .history-footer .history-section,
.chat-section {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.history-footer .history-section {
  background-color: rgb(29, 29, 29);
  padding: 15px 50px;
  border-radius: 10px;
}
.history-footer .chat-section {
  padding: 15px 50px;
}

.history-footer .footer-icon {
  font-size: 25px;
  padding-right: 5px;
  margin-bottom: 5px;
}
